.container {
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 3rem;
}

/* Style pour aligner les "cards" en ligne */
.cardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.cardContainer {
		flex-direction: column;
		align-items: center;
	}
}
