.footer {
	font-family: sans-serif;
	border-top: 1px solid #ffffff;
	padding: 2rem;
	display: grid;
	grid-template-rows: 1fr auto;
	gap: 6rem;
	color: white;
	background-color: black;
}

.topSection {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.leftBlock,
.centerBlock,
.rightBlock {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.leftBlock h4,
.centerBlock h4,
.rightBlock h4 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 0.5rem 0;
	letter-spacing: 0.5px;
}

.navLinks {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	font-weight: 500;
}

.navLinks a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
}

.navLinks a:hover {
	text-decoration: underline;
}

.phone {
	font-weight: bold;
}

.contactInfo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contactInfo span {
	text-transform: uppercase;
}

.socialIcons {
	display: flex;
	gap: 1rem;
	
}

.socialIcons img {
	width: 32px;
	height: 32px;
		background-color: #ffffff;

}

.socialIcons a:hover img {
	background-color: #f0f0f0;
}

.bottomSection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	border-top: 1px solid #ffffff;
	padding-top: 1rem;
	gap: 1rem;
	font-size: 0.875rem;
	text-transform: uppercase;
	
}

.copyright {
	font-weight: bold;
	justify-self: start;
}

.centerLink {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: 500;
	justify-self: center;
}

.centerLink:hover {
	text-decoration: underline;
}

.rightLink {
	color: rgb(232, 232, 232);
	text-decoration: none;
	font-weight: 500;
	justify-self: end;
}

.rightLink:hover {
	text-decoration: underline;
}

/* Responsive pour tablettes et desktop */
@media screen and (min-width: 768px) {
	.topSection {
		grid-template-columns: 5fr 5fr 1fr;
		gap: 4rem;
	}

	.centerBlock {
		text-align: left;
	}

	.rightBlock {
		text-align: left;
	}

	.rightBlock .socialIcons {
		justify-content: space-between;
	}

	
}

/* Mobile uniquement */
@media screen and (max-width: 767px) {
	.bottomSection {
		grid-template-columns: 1fr;
		text-align: center;
		gap: 1rem;
	}

	.copyright {
		justify-self: center;
	}

	.centerLink,
	.rightLink {
		justify-self: center;
	}
}

