.section {
	color: white;
	text-align: center;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

/* Grid qui contient les cards */
.cardGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	width: 100%;
}

/* Chaque card individuelle */
.card {
	background-color: #111;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	padding: 2rem;
}
