.nav {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0.5rem;
	/* background-color: white; */
	border: 1px solid #ccc;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
}

.left,
.right {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	border: 1px solid #ccc;
}

.center {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	border: 1px solid #ccc;
	order: -1; /* Place the center at the top */
}

/* Optional: Adjustments for larger screens */
@media (min-width: 768px) {
	.nav {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
	}

	/* .center {
		order: 0; /* Reset order for larger screens 
	} */
}
