.articleWrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: var(--font-anonymous, monospace);
}

.imageWrapper img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto 2rem;
}

.textBlock {
	margin: 2rem 0;
	font-size: 1rem;
}

.title {
	font-weight: bold;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.description {
	font-size: 1rem;
	text-align: left;
	line-height: 1.6;
}

.description p {
	padding-bottom: 2rem;
}

/* page.module.css */
.glitchLinkFixedWrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000; /* Assure qu'il soit au-dessus de tout */
	/* Si tu veux que le conteneur lui-même ne soit pas visible, mais juste le lien dedans */
	/* width: 100%; */
}

.downloadBtn {
	/* Retire position: fixed de ici */
	/* position: static; ou laisse-le par défaut */
	display: block; /* Pour qu'il prenne toute la largeur du parent fixed */
	width: 100%; /* Si tu veux qu'il prenne toute la largeur de .glitchLinkFixedWrapper */
	padding: 1rem;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.85rem;
	letter-spacing: 0.05em;
	text-align: center; /* Centre le texte */
}

@media (min-width: 768px) {
	.textBlock {
		font-size: 1.5rem;
	}
	.description {
		margin: 0 auto;
	}
}
