.articleWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: var(--font-anonymous, monospace);
}

.imageWrapper img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 2rem;
}

.textBlock {
  margin-top: 2rem;
    font-size: 1rem;

}

.title {
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.description {
  font-size: 1rem;
text-align: left;
  line-height: 1.6;
  color: #111;
  padding:50px 50px 100px;
}

.description p{
  padding-bottom: 10px;
}

.downloadBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
	.textBlock {
    font-size: 1.5rem;

}
.description {
 
  margin: 0 auto;

}
  }