:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-anonymous: 'Anonymous Pro', monospace;
	--font-dosis: 'Dosis', sans-serif;
}


@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;

}

body {
	color: var(--foreground);
	background-color: var(--background);
	font-family: var(--font-anonymous);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
	font-family: var(--font-anonymous);
}
img{
		  filter: grayscale(100%);

}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}