.split {
	display: flex;
	min-height: 150px;
	/* ajuste selon le contenu */
	font-family: monospace;
}

.split-left {
	background: #171717;
	color: white;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: bold;
	padding: 2rem;
	border-bottom: var(--foreground) dashed 1px;
}

.split-left h1 {
	margin-right: auto;
}

.split-right {
	/* color: black; */
	flex: 3;
	padding: 2rem;
	display: flex;
	align-items: center;
	border-left: 1px solid var(--foreground);
	font-size: 1rem;
	border-bottom: 1px solid var(--foreground);

	flex-wrap: wrap; /* permet le retour à la ligne */
	overflow-wrap: break-word;
	word-break: break-word;
}

@media screen and (max-width: 768px) {
	.split-left,
	.split-right {
		padding: 1rem;
	}

	.split-left {
		font-size: 1rem;
	}

	.split {
		min-height: 100px;
	}
}
